#app {
    overflow: hidden;
  }
  
#columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  

  .error_tabl {
    background-color: rgb(254, 12, 12);
  }
  
  .error {
    font-weight: bolder;
    padding: 10px 0;
    margin: 0;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .board {
    background-color: rgb(53, 156, 67);
  }
  
  .column {
    min-height: 1000px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 100%;
    flex-grow: 1;

    
  }
  
  body {
    width: 100%;
    flex-grow: 1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    border: 1px solid rgb(147, 157, 90);
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: rgb(69, 65, 65);
  }
  
  input {
    max-width: 90%;
    border-radius: 4px;
  }
  
  label {
    padding: 10px 5px 5px 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
}
li{
    margin-top: 5px;
  }
  
  .too-tabl {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 1px solid rgb(147, 157, 90);
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: rgb(69, 65, 65);
  }
  
  .too-tabl > ul > li {
    color: rgb(210, 30, 30);
  }
  
  .card-border {
    border: 1px solid rgb(21, 17, 17);
    background-color: aliceblue;
    padding: 5px;
    width: 20px;
    height: 20px;
}

.done{
    text-decoration-line: overline
}

.card{
    width: 55%;
    border: 1px solid rgb(79, 248, 197);
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: rgb(69, 65, 65);
  }
  .clean {
    width: 5%;
    border: 1px solid rgb(147, 157, 90);
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: rgb(69, 65, 65);
    color: chartreuse;
  }